<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hui.devframe">

    <uses-permission android:name="android.permission.INTERNET" />

    // 蓝牙
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.hui.devframe.common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hui.devframe.activity.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hui.devframe.activity.entry.FragmentLearnActivity" />
        <activity android:name="com.hui.devframe.activity.entry.PagerLearnActivity" />
        <activity android:name="com.hui.devframe.activity.entry.MatrixLearnActivity" />
        <activity android:name="com.hui.devframe.veex.VeexActivity" />
        <activity android:name="com.hui.devframe.activity.DrawActivity"
            android:hardwareAccelerated="false" />
        <activity android:name="com.hui.devframe.activity.MyDrawActivity" />
        <activity android:name="com.hui.devframe.activity.TestDetectorActivity" />
        <activity android:name="com.hui.devframe.activity.TestSwipeRefreshActivity" />
        <activity android:name="com.hui.devframe.activity.NewDrawActivity" />
        <activity android:name="com.hui.devframe.activity.entry.ScrollLearnActivity" />
        <activity android:name="com.hui.devframe.activity.Xfermodes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>